body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.profile-image {
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    overflow: hidden; 
}

.project__function-buttons {
    width: 25px; 
    height: 25px;
}

.search-image, .notification-image {
    width: 30px; 
    height: 30px;
}

.sidebar__logo {
    width: 40px; 
    height: 40px;
    margin-right: 10px;
    filter: invert(1) hue-rotate(180deg);
}

.button-image {
    width: 24px; /* Adjust the button image size */
    height: 24px;
    margin-right: 20px; /* Add spacing between the image and text */
    filter: invert(1) hue-rotate(180deg);
}

.button-content {
    display: flex;
    align-items: center;
}

.button-content p {
    font-size: 1.25rem;
    font-weight: bold;
}

.logo-text {
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto 1fr auto; 
    grid-gap: 10px;
    height: 100vh; 
    background-color: #25bcf8;
}

.sidebar h1 {
    color: white;
}

.main-buttons {
    display: grid;
    grid-auto-rows: minmax(50px, auto); /* Define a dynamic row size for the main buttons */
    grid-gap: 10px; /* Add spacing between main buttons */
    padding: 1em;
}

.secondary-buttons {
    display: grid;
    grid-auto-rows: minmax(50px, auto); /* Define a dynamic row size for the secondary buttons */
    grid-gap: 10px; /* Add spacing between secondary buttons */
    padding: 1em;
  }

.buttons {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.buttons a {
    text-decoration: none;
}

.buttons__main {
    list-style: none;
    color: rgb(255, 255, 255);
    margin: 0;
}

.header {
    grid-column: 2;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.container__projects {
    background-color: #e7e6e6;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project__card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height: 200px;
    border-radius: 10px;
  }

  